* {
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
	height: 19rem;
}

.product-img{
	padding: 1rem;
}

.list-group-item a, .dropdown-item {
	text-decoration: none;
	text-transform: capitalize;
}

.list-group-item a:hover {
	cursor: pointer;
}

.items-message {
	font-size: 1.3rem;
	color: #088178;
}

.total-items,
.card-price {
	color: #ff75a0;
	font-weight: 800;
	font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
	.navbar-nav {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.list-group {
		display: none;
	}
}
